// Fonts
@import url("https://fonts.googleapis.com/css2?family=Rye&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Smokum&display=swap");

.menu-bar {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eed8a4;
  text-shadow: 2.5px 1px 2.5px black;
  .menu-bar--wrapper {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .menu-bar__item {
      flex: 0.3;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding-bottom: 5px;
      font-size: 25px;
      font-weight: 500;

      // Text
      span {
        position: relative;
        &:hover {
          font-size: 26px;
          color: white;
          cursor: pointer;
          transition: all 0.1s ease-in;
        }
        transition: all 0.1s ease-out;
      }
    }
    .menu-bar__item--name {
      flex: 1;
      font-family: "Rye";
      font-size: 50px;
      font-weight: 750;
      text-shadow: 5px 2.5px 0px black;
      text-wrap: nowrap;
      margin-right: 0.25rem;
      margin-left: 0.25rem;
      span {
        &:hover {
          font-size: 51px;
        }
      }
    }
  }
}
