@font-face {
  font-family: Besta Baru;
  src: url(./Fonts/BestaBaru-8OaO0.ttf);
}

.home-page {
  width: 100%;
  height: 50rem;
  position: relative;
  background-image: url(../images/Image3.png);
  background-size: cover;
  background-color: rgba(30, 30, 30, 0.45);
  background-blend-mode: multiply;
  background-position-y: -500px;
  background-repeat: no-repeat;
  .home-page__content {
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .home-page__video {
      width: 30rem;
      height: 20rem;
      border: none;
    }
    .home-page__cta {
      width: 15rem;
      height: 5rem;
      font-size: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      background-color: white;
      position: relative;
      border: white 2.5px solid;
      .home-page__cta--arrow {
        position: absolute;
        bottom: 0;
        opacity: 0;
      }

      &:hover {
        background-color: black;
        span {
          color: white;
          transition: all 0.25s ease-in-out;
        }
        .home-page__cta--arrow {
          color: white;
          transform: translateY(40px);
          opacity: 1;
          transition: all 0.5s ease-in-out;
          height: 2rem;
        }
        transition: all 0.25s ease-in-out;
      }
    }
  }
  .slant {
    fill: white;
  }
}

.grit {
  width: 100%;
  height: 50rem;
  background-color: rgba(150, 150, 150, 0.15);
  position: absolute;
  mask-image: url(../images/grit.png);
}
